{% extends 'base.html' %}

{% block title %}{{ object.title }}{% endblock title %}

{% block content %}
    <div class="news card-list-none-hover mt-3">
        <div class="card text-light p-3">
            <div class="article-entry ">
                <h2>{{ object.title }}</h2>
                <p class="m-0 text-white-50">{{ object.date }}</p>
                <p class="m-0" style="white-space:pre-line">{{ object.body }}</p>
            </div>
            {% if user.is_superuser %}
            <p class="m-0 mt-2 pt-2">
                <a href="{% url 'article_edit' article.pk %}" class="btn btn-outline-light">Изменить</a>
                <a href="{% url 'article_delete' article.pk %}" class="btn btn-danger">Удалить</a>
            </p>
            {% endif %}
        </div>
    </div>
{% endblock content %}
    