{% extends 'base.html' %} {% block title %}Многопрофильная школа-гимназия №153 им. А. Розыбакиева{% endblock title %} {% block content %}

<div class="container pt-1 pb-4 te">
  <article>
    <h1 class="text-center mt-3">
      Добро пожаловать в Уйгурскую гимназию №153 имени А. Розыбакиева!
    </h1>
    <p class="fs-6 text-center">
      Мы рады приветствовать вас в нашей школе, где каждый ученик находит
      знания, поддержку и вдохновение для своего учебного пути. Наша гимназия —
      это не просто учебное заведение, а историческая стоянка для тех, кто
      стремится к знанию, культурному обогащению и формированию личностных
      качеств. Расположенная по адресу Улица Садвакасова 27,​ в многокультурном
      Достык м-н, Ауэзовский район, Алматы, мы гордимся своим наследием и
      предлагаем ученикам уникальные образовательные возможности.
    </p>
    <div class="row row-cols-1 row-cols-md-2 g-4">

      <div class="col">
        <div class="card">
          <div class="card-body">
              <b>Образовательные программы высокого уровня</b>
              <p>
                Мы предоставляем обширный спектр образовательных программ,
                отвечающих современным стандартам, уделяя внимание как
                академическим знаниям, так и развитию критического мышления
              </p>
          </div>
        </div>
      </div>
    
      <div class="col">
          <div class="card">
            <div class="card-body">
                <b>Культурно-образовательные инициативы</b>
                <p>
                  Мы проводим разнообразные мероприятия, включая культурные
                  фестивали, научные конференции и спортивные соревнования, чтобы
                  развивать не только ум, но и таланты в различных областях
                </p>
            </div>
          </div>
      </div>
    
    
      <div class="col">
        <div class="card">
          <div class="card-body">
              <b>Профессиональный педагогический коллектив</b>
              <p>
                Наши учителя — высококвалифицированные специалисты, готовые не
                только передавать знания, но и вдохновлять учеников на
                саморазвитие и творчество
              </p>
          </div>
        </div>
      </div>
    
    
      <div class="col">
        <div class="card">
          
          <div class="card-body">
              <b>Современная технологическая инфраструктура</b>
              <p>
                Наша гимназия обладает современными учебными классами,
                оборудованными последними технологиями, что создает комфортные
                условия для успешного обучения
              </p>
          </div>
        </div>
      </div>
    
    </div>

    <h2 class="fs-3 text-center mt-5">
      Присоединяйтесь к нашему образовательному сообществу и открывайте новые
      горизонты вместе с Уйгурской гимназией №153!
    </h2>
  </article>
</div>




{% endblock content %}
