{% extends 'base.html' %}

{% block title %}Articles{% endblock title %}

{% block content %}
<div class="news-list ">

    <div class="card mb-4" style="max-height: 250px;">
        <div class="row g-0">
            <div class="col-md-2">
            <img src="http://153.alschool.kz/uploads/posts/2021-02//1612518805__mg_8205_1.jpg" class="img-fluid rounded-start" alt="..." style="height: 250px; width:250px; object-fit: cover;">
            </div>
            <div class="col-md-10">
            <div class="card-body">
                <span class="card-title fs-3">Шавкат Ниязович Умаров</span>
                <span class="fs-4 text-white-50 " >| Директор школы-гимназии</span>
                <p class="card-text fs-5">Отличник образования Республики Казахстан, директор школы-гимназии № 153 им. Абдуллы Розыбакиева,  депутат Маслихата г.Алматы VI созыва, член Ассамблеи народа Казахстана, член Совета директоров АО «Национальный центр повышения квалификации «Өрлеу», член бюро политсовета Ауэзовского районного филиала НДП «Нұр Отан», член бюро  общественного объединения «Республиканский этнокультурный центр уйгуров Казахстана», председатель Ассоциации  школ с уйгурским языком обучения РК. Шавкат Ниязович является  автором ряда   методических пособий, многих статей, публикаций, передач на ТВ. </p>
            </div>
            </div>
        </div>
    </div>

    <div class="card mb-4" style="max-height: 250px;">
        <div class="row g-0">
            <div class="col-md-2">
            <img src="http://153.alschool.kz/uploads/posts/2021-02//1612938544_whatsapp-image-2021-02-10-at-12_24_24.jpeg" class="img-fluid rounded-start" alt="..." style="height: 250px; width:250px; object-fit: cover;">
            </div>
            <div class="col-md-10">
            <div class="card-body">
                <span class="card-title fs-3">Махпирова Рано Таировна</span>
                <span class="fs-4 text-white-50 " >| Заместитель  директора</span>
                <p class="card-text fs-5">Махпирова Рано  Таировна за время работы в данной гимназии показала себя только с положительной стороны. Профессионал своего дела, внедряет в учебно-воспитательный процесс наиболее эффективные методы и формы работы. На уроках создает условия для интеллектуального, социального и морального развития личности, овладения обучающимися жизненными компетенциями. Она ведет обучение и воспитание гимназистов на высоком профессиональном уровне, мастерски владеет теорией и методикой преподавания физики. Рано  Таировна   обладает хорошими организаторскими качествами. </p>
            </div>
            </div>
        </div>
    </div>

    <div class="card mb-4" style="max-height: 250px;">
        <div class="row g-0">
            <div class="col-md-2">
            <img src="http://153.alschool.kz/uploads/posts/2021-02//1613016179_whatsapp-image-2021-02-11-at-09_24_44.jpeg" class="img-fluid rounded-start" alt="..." style="height: 250px; width:250px; object-fit: cover;">
            </div>
            <div class="col-md-10">
            <div class="card-body">
                <span class="card-title fs-3">Садирова Гулинур Тохтасуновна</span>
                <span class="fs-4 text-white-50 ">| Заместитель  директора</span>
                <p class="card-text fs-5">За годы активной педагогической деятельности Гулинур Тохтасуновна добилась выдающихся результатов, что привело к ее назначению на должность заместителя директора в 2018 году. Ее преданность образованию и профессиональная ответственность проявляются не только в выполнении служебных обязанностей, но и в ее активном участии в создании методических пособий и учебников нового содержания, где она выступает в качестве автора и соавтора. Эти учебные материалы являются ценным вкладом в современные методики обучения, отражая ее стремление к постоянному улучшению образовательного процесса.</p>
            </div>
            </div>
        </div>
    </div>

</div>

{% endblock content %}
